<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lypgod.orm.test.mybatis.model.ItemMapper">
    <select id="getItemById" resultType="com.lypgod.orm.test.mybatis.model.Item">
      SELECT * FROM ITEM WHERE id = #{id}
    </select>
</mapper>