<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lypgod.orm.test.mybatis.model.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into User
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username, password,
            <if test="birthDate != null">
                birth_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{username}, #{password},
            <if test="birthDate != null">
                #{birthDate},
            </if>
        </trim>
    </insert>

    <insert id="insertUsers" useGeneratedKeys="true" keyProperty="id">
        insert into User (username, password, birth_date) values
        <foreach item="item" collection="list" separator=",">
            (#{item.username}, #{item.password}, #{item.birthDate})
        </foreach>
    </insert>

    <delete id="deleteUser">
        delete from User where id = #{id}
    </delete>

    <update id="updateUser">
        update User
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="birthDate != null">
                birth_date = #{birthDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findUserById" resultType="User">
        SELECT * FROM User WHERE id = #{id}
    </select>

    <select id="findUserByCondition" parameterType="UserQueryVO" resultType="User">
        SELECT * FROM User
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="username != null and username != ''">
                <bind name="usernamePattern" value="'%' + username + '%'"/>
                and username like #{usernamePattern}
            </if>
            <if test="birthDateBegin == null or birthDateEnd == null">
                <if test="birthDateBegin != null">
                    and birth_date >= #{birthDateBegin}
                </if>
                <if test="birthDateEnd != null">
                    and birth_date <![CDATA[ <= ]]> #{birthDateEnd}
                </if>
            </if>
            <if test="birthDateBegin != null and birthDateEnd != null">
                and birth_date between #{birthDateBegin} and #{birthDateEnd}
            </if>
        </where>
    </select>

    <delete id="deleteBatchUser">
        delete from User where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>